.extras_parent_block{
    display: inline-flex; 
    width: 100%; 
    height: 110px;
}
.extras_div_block{
    width: 100%;
}
.extras_title_tag{
    font-size: 15px;
    font-weight: bold;
}
.extras_price_tag{
    font-size: 15px; 
    color: #fab940;
    font-family: 'Patua One', cursive;
}
.extras_size_tag{
    font-size: 15px; 
}
.extras_hr_tag{
   margin: 0px 9px 10px 0px 
}
.extras_inner_price_tag{
    color: #fab940; 
    font-weight: bold; 
    font-size: 15px;
}    
.menu_title{
    text-align:center; 
    color: #fab940;
}
.gourment-topping-important{
    margin: 50px;
    color: red;
}
.pizza-toppin-size{font-size: 9px}
.hr-devider{margin: 0px 20px 25px 0px}
.hr-dashed-devider{size: 5px; border-top: dotted 5px; color: #fab940; margin-bottom: 20px;}
.hr-dashed-devider3px{size: 3px; border-top: dotted 3px; color: #fab940; margin-bottom: 20px;}
.hr-pizza-devise{margin: 0px 9px -40px 0px}

.height-60{height: 60px}
.height-75{height: 75px}
.height-140{height: 140px;}

.center{text-align: center;}

@media only screen and (max-width: 320px) {
  #single-offer-item-media {
    margin-top: 230px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  #single-offer-item-media {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .order-div{
    margin-top: 60px;
  }
}

.order-div{
  text-align: center
}

.order-button {
  background-color: #fab940; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 18px;

  display: block;
  max-width: 300px;
  margin: auto;
}

.order-button > a{
  color: white;
  font-size: 18px;
}
