<style>
	#promotion-navbar{
		background-color: #db3222;
		color: #fff;
	}
	#promotion-navbar:hover{
		color: black;	
	}
</style>

<nav>
	<ul class="sf-menu">
		<li class="<%= active_class(root_path)%>">  <%= link_to "Home", root_path %> </li>
		<li class="<%= active_class(v1_menu_path)%>"> <%= link_to "Our Menu", v1_menu_path %></li>
		<li><a href="https://rbspizza.hungerrush.com/">ORDER ONLINE</a> </li>
		<li><%= link_to "Promotions", v1_promotion_index_path, id: "promotion-navbar" %></li>
	</ul> 
</nav>