  
    <div style="text-align: right; height: 32.0299px;">
      &nbsp;
    </div>    
      <header style="height: 393.448px;">
        <div style="width: 778.09px; height: 351.955px; margin-top: -8.95522px;" class="main">        
          <h1>
            <a href="file:///Users/ecyazici/Desktop/venice%20website/site/index.html">
              <img style="margin-left: -44.7966px; width: 209px; height: 105.955px; margin-top: 11.9368px;" alt="rbs" src="/assets/images_rbs/rblogo.png">
            </a>
          </h1><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
          
          <%= render 'navbar' %>
          
          <br>
          <div class="row-top">
            <h1><br></h1>
          </div>
          <h3 style="text-align: center;">
            <span style="color: #666600;"><br>
            </span>
          </h3>
            <span style="color: #666600;"></span>
          <h3 style="text-align: center; margin-top: -70.156px;">
            <span style="color: #666600;">
            <span style="color: #006600;"> Welcome to R&amp;B's PIZZA PLACE</span></span>
          </h3>
          <div style="text-align: center;"> YOU CAN 
            <a href="https://rbspizza.hungerrush.com/" class="link-1">
              <span style="font-weight: bold;">ORDER ONLINE</span> 
            </a> 
            NOW. WE ARE PROUD TO SERVE THE BEST PIZZAS, PASTAS, HOAGIES THAT PITTSBURGH, PA CAN OFFER.&nbsp; R&amp;B's IS LOCATED AT BELLEVUE's MAIN STRIP. CALL US NOW AT 
            <span style="color: #006600;">
              <span style="font-weight: bold;">412</span><span style="font-weight: bold;">.732.2555</span>
            </span>
            <span style="font-weight: bold;">
              <span style="color: #006600;"></span>
              <span style="color: #666600;"></span>
            </span>
            and enjoy our free delivery and take out options. WE deliver to bellevue, avalon, be avon/heights,emsworth, west view, brighton heights. 
            <span style="color: rgb(108, 95, 91); font-family: Times; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">
            <span class="Apple-converted-space"></span>
            </span><br>
            
            <% block do %>
              <!-- <img style="width: 90px; height: 42px;" alt="" src="/assets/images_rbs/browsers.png"><br> please use supported  -->
              <!-- <span style="font-weight: bold;">firefox</span>,
              <span style="font-weight: bold;">chrome</span>&nbsp; or 
              <span style="font-weight: bold;">safari&nbsp;</span> browsers&nbsp; for our online ordering -->
            <% end %>
          </div>
          <h3 style="margin-top: -180.584px; text-align: center;"><br>       
          </h3>        
          <br>        
          <br>      
        </div>    
      </header>
      <!--==============================content=================================--><br> <br>

      <section style="height: 958.418px; margin-top: -70px;" id="content">
        <div class="box-slider">        
          <div style="margin-left: 10.4391px; margin-top: -70.1493px; width: 959.03px;" class="flexslider">
            <h3 style="text-align: center; margin-top: -17.9104px;">
              <!-- <span style="margin-top: 30px; color: #006600;">
                VISIT US AT 
                <a href="http://www.RBSPIZZA.com">www.RBSPIZZA.com</a>
              </span> -->
            </h3>          
            <ul class="slides">
              <li> <img alt="" src="/assets/images_rbs/slide1.jpg"></li>
              <li> <img alt="" src="/assets/images_rbs/slide3.jpg"></li>
              <li> <img alt="" src="/assets/images_rbs/slide2.jpg"></li>
            </ul>        
          </div>      
        </div>

        <div class="ic">More Website Templates @ TemplateMonster.com. December03, 2012!</div>
        <div class="container_12 row-1"> 
        <article style="margin-left: 20.4443px; margin-top: 100px;" class="grid_4 thumbnail-1">
          <h3 style="margin-left: 40.2868px;"><span style="margin-top: -80.597px;"><br> <br> </span> 
          </h3> 
          <br>
          <figure style="margin-left: 29.8437px; margin-top: -73px; background-color: white; width: 219.149px;"            class="box-img">
            <span style="font-style: italic; font-weight: bold;">ABOUT</span>
            <span style="font-weight: bold; font-style: italic;"> 
              <span style="color: #006600;">R&amp;B's</span>
            </span>
            <br>            
            <br> Tel:
            <span style="color: #009900;">&nbsp; 
              <span style="color: #cc0000;">
                <span style="font-weight: bold;">412</span>
              </span>
            </span>
            <span style="color: #009900; font-weight: bold;">
              <span style="color: #cc0000;">.732.2555</span><br>
            </span> Fax:<span style="color: #009900;"> </span><span style="color: #cc0000;"><span                style="font-weight: bold;">412.732.2488</span></span><br>            421 Lincoln AVE.<br>            Pittsburgh pa, 15202&nbsp;&nbsp;&nbsp;&nbsp; <img style="width: 70px; height: 70px;"              alt=""              src="/assets/images_rbs/readers-choice.png"><br>            &nbsp; <a style="margin-left: 40.3018px; margin-top: -0.00920728px;"              href="index-5.html"              class="btn">see
              more</a>
          </figure>          
          <br>          
          <br>        
        </article>        
        <article style="margin-left: -24.3284px; margin-top: 100px;" class="grid_4 thumbnail-1">          
          <h3 style="margin-left: 44.7891px;"><span style="margin-top: -41.7943px;"><br>            
          </span> </h3> <span style="font-size: 14px; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; color: rgb(52, 52, 52); font-family: 'PT Serif Caption', serif; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 24px; orphans: auto; text-align: left; text-indent: 0px; text-transform: uppercase; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold; background: rgb(255, 255, 255);"><span              style="font-style: italic;"><span                style="color: red;"></span></span></span><span            style="color: rgb(52, 52, 52); font-family: 'PT Serif Caption', serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 24px; orphans: auto; text-align: left; text-indent: 0px; text-transform: uppercase; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255);"></span><span            style="font-size: 14px; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; color: rgb(52, 52, 52); font-family: 'PT Serif Caption', serif; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: 24px; orphans: auto; text-align: left; text-indent: 0px; text-transform: uppercase; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; font-weight: bold; background: rgb(255, 255, 255);">
          </span>
          <span style="font-weight: bold;"></span>          
          <article class="grid_4 thumbnail-1">
            <figure style="margin-left: 41.7982px; background-color: white; margin-top: -50px; width: 236.955px;" class="box-img">
            <span style="font-weight: bold; font-style: italic;">Business
                <span style="color: #006600;">hours</span></span><br>              <br>              SUN : &nbsp;&nbsp;&nbsp; 11:00 AM - 11:00 PM<br>              MON : &nbsp; 11:00 AM - 11:00 PM<br>              TUE : &nbsp;&nbsp;&nbsp; 11:00 AM - 11:00 PM<br>              WED :&nbsp;&nbsp;&nbsp; 11:00 AM - 11:00 PM<br>              THU : &nbsp;&nbsp; 11:00 AM - 11:00 PM<br>              FRI : &nbsp;&nbsp; &nbsp; 11:00 AM - 01:00 AM<br>              SAT :&nbsp;&nbsp;&nbsp;&nbsp; 11:00 AM - 01:00 AM<br>              <a style="margin-left: 58.1943px;" href="index-5.html" class="btn">see
                more</a></figure>          
          </article>        
        </article>        
        <article style="margin-left: 5.49254px;" class="grid_4 thumbnail-1">          
          <h3 style="margin-left: 62.6885px;"><span style="margin-top: -41.7915px;"><br>            
          </span> </h3>          
          <span style="font-weight: bold;"> </span>          
          <figure style="margin-left: 59.7132px; background-color: white; margin-top: 50px; width: 218.448px;" class="box-img">

            <span style="font-weight: bold; font-style: italic;">ORDER
             <span style="color: #006600;">ONLINE</span>
            </span>
            <br> <br>            
            <span style="font-weight: bold; font-style: italic; font-family: Heiti TC;">
              <span style="color: #cc0000;"></span>
            </span>
            ENJOY OUR EXCLUSIVE <br> OnLINE ORDERING<br> <br> TAKE OUT AND DELIVERY<br> OPTIONS AVAILABLE<br>
            <img alt="yaz ltd." src="/assets/images_rbs/creditcard.gif">
              <br>
              <span style="font-weight: bold; color: #993399;">
                <span style="color: #cc0000;">
                  MINIMUM ORDER : 
                <span style="color: #006600;">$8</span>
                </span><br>
              </span>
              <div style="text-align: center;">
                <a style="margin-left: -4.43906px;" href="https://rbspizza.hungerrush.com/" class="btn">
                  &nbsp; order now!
                </a>
              </div>         
          </figure>          <br>          <br>        
        </article>      </div>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      <br>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>

<!-- HERE WAS SLIDER -->

        <div style="margin-top: 50.7369px;" class="box-slogan">        
          <h3 style="margin-top: 19.4012px;">
          <span style="font-family: Times; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none; color: #080a08;">
            All Rights Reserved to 
          </span>
          <span style="font-family: Times; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none; color: #080a08;">
            
            <!-- <a style="color: #006600;" href="file:///Users/ecyazici/Desktop/captains%20website/site/www.yaz-ltd.com">
              @7urkm3n
            </a>
            <span style="color: #666600;"> </span>© 2015 -->

          </span>
            <br>
          </h3>      
        </div>    
      </section>