<header>
	<div style="height: 3705.46px; width: 1000px;" class="main">        
		<div class="row-top">          
		<h1>
			<%= link_to root_path do %>
				<img style="margin-left: -44.7966px; width: 209px; height: 105.955px; margin-top: 11.9368px;"                alt="rbs" src="/assets/images_rbs/rblogo.png">
			<% end %>
			<!-- <a href="file:///Users/ecyazici/Desktop/venice%20website/site/index.html"></a> -->
		</h1>

		<%= render 'navbar' %>
		
		</div>

		        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        <br>        

		<img style="width: 1001px; height: 1620px; margin-top: -200px;" src="/assets/images_rbs/SP201897_P1.jpg"><br>        <br>        <img style="width: 1000.64px; height: 1416px;" src="/assets/images_rbs/SP201897_P2.jpg"><br>
		<h3 style="margin-top: 46.2681px; text-align: center;"><span style="font-family: Times; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none; color: #080a08;"><br>            <br>            <br>            <br>            All Rights Reserved to </span><span style="font-family: Times; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; display: inline ! important; float: none; color: #080a08;">

		<a style="color: #006600;" href="file:///Users/ecyazici/Desktop/captains%20website/site/www.yaz-ltd.com"> YAZ Ltd.</a>
		<span style="color: #666600;"> </span>© 2015</span>
		</h3><br><br><br><br><br>      
	</div>    
</header>