<div class="footer2">
    <div class="footer-socials">
        <ul class="socials-sh">
            <li>
                <a class="fa sh-socials-url fa-twitter" href="https://twitter.com/rbspizza1" title="Twitter" target="_blank"></a>
            </li>
            <li>
                <a class="fa sh-socials-url fa-facebook" href="https://www.facebook.com/rbspizzabellevue/" title="Facebook" target="_blank"></a>
            </li>
        </ul>
    </div>

    <div class="footer-content">
         ------ @ <%= DateTime.now.year %> ------
    </div>
    
    <!-- <div class="footer-content">
        @2017 7urkm3n. Made by 
        <a href="" title="">Pego</a> 
        &amp; 
        <a href="" title="HTML Themes">HTML</a>. 
    </div> -->
</div>