<div class="mobile-menu-wrapper">
    <div class="menu-main-nav-menu-container">
        <ul id="menu-main-nav-menu-1" class="mobile-menu">
            <%= content_tag(:li, class: "menu-item menu-item-home #{current_page_v2(v2_order_path)}") do %>
                <%= link_to "Order Online", v2_order_path %>
            <% end %>
            <%= content_tag(:li, class: "menu-item menu-item-home #{current_page_v2(root_path)}") do %>
                <%= link_to "Home", root_path %>
            <% end %>
            <%= content_tag(:li, class: "menu-item #{current_page_v2(v2_menu_path)}") do %>
                <%#= link_to "Menu", v2_menu_path %>
            <% end %>
            <%= content_tag(:li, class: "menu-item #{current_page_v2(v2_specials_path)}") do %>
                <%#= link_to "Specials", v2_specials_path %>
            <% end %>
            <%= content_tag(:li, class: "menu-item #{current_page_v2(v2_contact_path)}") do %>
                <%= link_to "Contact", v2_contact_path %>
            <% end %>
            <%= content_tag(:li, class: "menu-item") do %>
                <%#= link_to "PROMOTIONS", promotion_index_path %>
            <% end %>
        </ul>
    </div>
</div>
