<style type="text/css">
#order-online-sidebar{
    color: #fab940;
    text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
}
</style>
<div id="header" class="header-wrapper">
    <div class="logo">
        <a href="/" title="RBs Pizza">

            <img class="logoImage" src="/assets/v2/images/logo.png" alt="RBs Pizza" /><img class="logoImageRetina" src="/assets/v2/images/logo-retina.png" alt="RBs Pizza" />

        </a>
        <h4 class='center' style='color: #fab940'>Welcome to our New Website</h4>
        <div class="clear"></div>
    </div>
    <div class="menu-wrapper">
        <div class="main-menu">
            <div class="menu-main-nav-menu-container">
            

                <ul id="menu-main-nav-menu" class="sf-menu">
                    <%= content_tag(:li, class: "menu-item menu-item-home #{current_page_v2(v2_order_path)}") do %>
                        <%= link_to "Order Online", v2_order_path %>
                    <% end %>

                    <%= content_tag(:li, class: "menu-item menu-item-home #{current_page_v2(root_path)}") do %>
                        <%= link_to "Home", root_path %>
                    <% end %>
                    <%= content_tag(:li, class: "menu-item #{current_page_v2(v2_menu_path)}") do %>
                        <%#= link_to "Menu", v2_menu_path %>
                    <% end %>
                    <%= content_tag(:li, class: "menu-item #{current_page_v2(v2_specials_path)}") do %>
                        <%#= link_to "Specials", v2_specials_path %>
                    <% end %>
                    <%= content_tag(:li, class: "menu-item #{current_page_v2(v2_contact_path)}") do %>
                        <%= link_to "Contact", v2_contact_path %>
                    <% end %>
                    <%= content_tag(:li, class: "menu-item") do %>
                        <%#= link_to "PROMOTIONS", promotion_index_path %>
                    <% end %>



                    <!-- <li class="menu-item"><a href="/specials">Specials</a></li> -->
                    <!-- <li class="menu-item"><a href="about.html">About us</a></li> -->
                    <!-- <li class="menu-item"><a href="contact.html">Contact</a></li> -->
                    <!-- <li class="menu-item"><a href="blog.html">Blog</a></li> -->
                </ul>
            </div>
        </div>
        <div class="menu-icons-inside">
            <div class="menu-icon menu-icon-mobile"><span class="menu-icon-create"></span></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="footer-socials">
            <ul class="socials-sh">
                <li>
                    <a class="fa sh-socials-url fa-twitter" href="https://twitter.com/rbspizza1" title="Twitter" target="_blank"></a> 
                </li>
                <li>
                    <a class="fa sh-socials-url fa-facebook" href="https://www.facebook.com/rbspizzabellevue/" title="Facebook" target="_blank"></a>
                </li>
                <!-- <li><a class="fa sh-socials-url fa-linkedin" href="#" title="LinkedIn" target="_blank"></a></li> -->
                <!-- <li><a class="fa sh-socials-url fa-google-plus" href="#" title="Google Plus" target="_blank"></a></li> -->
            </ul>
        </div>
        <div class="footer-content">
             ------ @ <%= DateTime.now.year %> ------
        </div>
    </div>
</div>
