<!-- <style>
    .extras_inner_price_tag{
        color: #fab940; 
        font-weight: bold; 
        font-size: 15px;
    }    
</style> -->
<h3 class='menu_title'>Appetizers</h3>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">French Fries</div>
        <div class="single-offer-content">
            <p>
                With Nacho Cheese: <span class='extras_inner_price_tag'>$5.45</span>
                <br>
                With Cheese & Bacon: <span class='extras_inner_price_tag'>$6.95</span>
            </p>
        </div>
    </div>
    <div class="single-offer-price">$3.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Buffalo Fries</div>
        <div class="single-offer-content">
            <p>
                With Nacho Cheese: <span class='extras_inner_price_tag'>$5.45</span>
                <br>
                With Cheese and Bacon: <span class='extras_inner_price_tag'>$6.95</span>
            </p>
        </div>
    </div>
    <div class="single-offer-price">$3.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Provolone Sticks (5)</div>
    </div>
    <div class="single-offer-price">$6.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Cheese Cubes</div>
    </div>
    <div class="single-offer-price">$5.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Jalapeño Poppers (5)</div>
    </div>
    <div class="single-offer-price">$5.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Crab Poppers (6)</div>
    </div>
    <div class="single-offer-price">$5.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Mac & Cheese Poppers (5)</div>
    </div>
    <div class="single-offer-price">$5.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Onion Rings </div>
    </div>
    <div class="single-offer-price">$5.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Breaded Mushrooms</div>
    </div>
    <div class="single-offer-price">$5.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Breaded Zucchini</div>
    </div>
    <div class="single-offer-price">$5.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Tenderloins</div>
    </div>
    <div class="single-offer-price">$6.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Popcorn Chicken</div>
    </div>
    <div class="single-offer-price">$6.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Shrimp Basket with Fries</div>
    </div>
    <div class="single-offer-price">$7.35</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Pizza Boat</div>
        <div class="single-offer-content">
            <p>For additional toppings: <span class='extras_inner_price_tag'>$1.35</span></p>
        </div>
    </div>
    <div class="single-offer-price">$4.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Garlic Bread</div>
        <div class="single-offer-content">
            <p>With Cheese: <span class='extras_inner_price_tag'>$2.15</span></p>
        </div>
    </div>
    <div class="single-offer-price">$1.45</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Breadsticks</div>
        <div class="single-offer-content">
            <p>With Cheese: <span class='extras_inner_price_tag'>$6.95</span></p>
        </div>
    </div>
    <div class="single-offer-price">$4.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Pepperoni Rolls </div>
        <div class="single-offer-content">
            <p>With Cheese: <span class='extras_inner_price_tag'>$7.75</span></p>
        </div>
    </div>
    <div class="single-offer-price">$6.45</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Spinach Rolls</div>
        <div class="single-offer-content">
            <p>With Cheese: <span class='extras_inner_price_tag'>$7.75</span></p>
        </div>
    </div>
    <div class="single-offer-price">$6.45</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Steak Rolls </div>
        <div class="single-offer-content">
            <p>With Cheese: <span class='extras_inner_price_tag'>$7.75</span></p>
        </div>
    </div>
    <div class="single-offer-price">$6.45</div>
    <div class="clear"></div>
</div>