<h3 class='menu_title'>Beverages</h3>
<h4 style='text-align:center;'>Pepsi Products</h4>

<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Cans</div>
        <div class="single-offer-content">
            <p> Pepsi, Diet Pepsi, Mount Dew, Hawaiian Punch, Mug Rootbeer, Brisk Ice Tea, Ginger Ale, Crush Orange, Sierra Mist.</p>
        </div>
    </div>
    <div class="single-offer-price">$1.15</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">20 oz.</div>
        <div class="single-offer-content">
            <p> Pepsi, Diet Pepsi, Wild Cherry Pepsi, Mount Dew, Hawaiian Punch, Mug Rootbeer, Brisk Ice Tea, Ginger Ale, Sierra Mist, Crush Orange</p>
        </div>
    </div>
    <div class="single-offer-price">$1.85</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">2 Liter</div>
        <div class="single-offer-content">
            <p> Pepsi, Diet Pepsi, Wild Cherry Pepsi, Mount Dew, Hawaiian Punch, Mug Rootbeer, Brisk Ice Tea, Ginger Ale, Sierra Mist, Crush Orange, Crush Grape</p>
        </div>
    </div>
    <div class="single-offer-price">$2.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">20 oz. Water</div>
    </div>
    <div class="single-offer-price">$1.15</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">20 oz. Gatorade</div>
        <div class="single-offer-content">
            <p>Gatorade Fruit Punch, Gatorade Cool Blue, Gatorade Lemon Lime.</p> 
        </div>
    </div>
    <div class="single-offer-price">$1.85</div>
    <div class="clear"></div>
</div>


