<h3 class='menu_title'>Calzones</h3>
<div class='extras_parent_block height-140'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Small 10”</span>
        <span class='extras_price_tag'>$13.95</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$1.95</span><br>
        Extra Meat:       <span class='extras_price_tag'>$1.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$1.95</span><br>
    </div>
    <hr class='hr-devider'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Large 14”</span>
        <span class='extras_price_tag'>$20.95</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$2.95</span><br>
        Extra Meat:       <span class='extras_price_tag'>$2.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$2.95</span><br>
    </div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Five Cheese Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with mozzarella, provolone, feta cheese, ricotta cheese, fontinella cheese and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Italian Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with ham, salami, capicola, pepperoni, mozzarella, provolone and ricotta cheeses and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Steak Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with steak, mushroom, red onion, green pepper, mozzarella, provolone and ricotta cheeses and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with grilled chicken strips, mozzarella, provolone and ricotta cheeses and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Pepperoni Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with pepperoni, mozzarella, provolone and ricotta cheeses and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Sausage Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with sausage, mozzarella, provolone and ricotta cheeses and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Meatball Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with meatballs, mozzarella, provolone and ricotta cheeses and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Vegetable Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with spinach, mushroom, green pepper, red onion, broccoli, fresh garlic , mozzarella, provolone and ricotta cheeses and tomato sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Seafood Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with shrimp, crab meat, mushrooms, red onions, mozzarella, provolone and ricotta cheeses and white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Gyro Calzone</div>
        <div class="single-offer-content">
            <p>Stuffed with gyro meat, onions, mozzarella, provolone, ricotta and feta cheeses and white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>