<h3 class='menu_title'>Desserts</h3>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Oreo Cheesecake</div>
    </div>
    <div class="single-offer-price">$3.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">New York Cheesecake</div>
    </div>
    <div class="single-offer-price">$3.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Strawberry Cheesecake</div>
    </div>
    <div class="single-offer-price">$3.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Tiramisu</div>
    </div>
    <div class="single-offer-price">$3.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Baklava</div>
    </div>
    <div class="single-offer-price">$5.00</div>
    <div class="clear"></div>
</div>


