<h3 class='menu_title'>Gyros</h3>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Gyro</div>
        <div class="single-offer-content">
            <p>Gyro meat, lettuce, tomato, onions and cucumber sauce on the side</p>
        </div>
    </div>
    <div class="single-offer-price">$6.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Gyro</div>
        <div class="single-offer-content">
            <p>Chicken, lettuce, tomato, onions and cucumber sauce on the side</p>
        </div>
    </div>
    <div class="single-offer-price">$6.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Gyro Platter</div>
        <div class="single-offer-content">
            <p>Gyro meat, lettuce, tomato, onions, cucumber sauce on the side and french fries</p>
        </div>
    </div>
    <div class="single-offer-price">$8.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Gyro Platter</div>
        <div class="single-offer-content">
            <p>Chicken, lettuce, tomato, onions, cucumber sauce on the side and french fries</p>
        </div>
    </div>
    <div class="single-offer-price">$8.95</div>
    <div class="clear"></div>
</div>
