<h3 class='menu_title'>Hoagies</h3>
<div class='extras_parent_block height-140'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Half 8”</span>
        <span class='extras_price_tag'>$6.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$0.95</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$1.45</span><br>
        Extra Meat:       <span class='extras_price_tag'>$1.95</span><br>
    </div>
    <hr class='hr-devider'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Whole 16”</span>
        <span class='extras_price_tag'>$11.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$1.65</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$2.45</span><br>
        Extra Meat:       <span class='extras_price_tag'>$2.95</span><br>
    </div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Italian Hoagie</div>
        <div class="single-offer-content">
            <p>Ham, salami, capicola, provolone cheese, lettuce, tomato, red onion and Italian dressing</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Steak Hoagie</div>
        <div class="single-offer-content">
            <p>Steak, mushrooms, red onion, provolone cheese, lettuce and tomato</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Meatball Hoagie</div>
        <div class="single-offer-content">
            <p>Meatball, tomato sauce and provolone cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Ham & Cheese Hoagie</div>
        <div class="single-offer-content">
            <p>Ham, provolone cheese, lettuce, tomato and onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Hot Sausage Hoagie</div>
        <div class="single-offer-content">
            <p>Hot sausage, tomato sauce and provolone cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Turkey Hoagie</div>
        <div class="single-offer-content">
            <p>Turkey breast, sharp cheddar cheese, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Grilled Chicken Hoagie</div>
        <div class="single-offer-content">
            <p>Grilled chicken breast, provolone cheese, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Breaded Chicken Hoagie</div>
        <div class="single-offer-content">
            <p>Breaded chicken fillet, provolone cheese, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Parmesan Hoagie</div>
        <div class="single-offer-content">
            <p>Breaded chicken fillet, tomato sauce and provolone cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Buffalo Chicken Hoagie</div>
        <div class="single-offer-content">
            <p>Buffalo chicken fillet, buffalo fries, provolone cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Seafood Hoagie</div>
        <div class="single-offer-content">
            <p>Shrimp, crab meat, provolone cheese, lettuce, tomato, red onions and garlic sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Fish Hoagie</div>
        <div class="single-offer-content">
            <p>Breaded fish, provolone cheese, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Vegetarian Hoagie</div>
        <div class="single-offer-content">
            <p>Spinach, mushrooms, green peppers, black olives, broccoli,provolone cheese, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Cheeseburger Hoagie</div>
        <div class="single-offer-content">
            <p>Hamburger patties, provolone cheese, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Gyro Hoagie</div>
        <div class="single-offer-content">
            <p>Gyro meat, provolone cheese, lettuce, tomato and red onion with cucumber sauce on side</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Eggplant Parmesan Hoagie</div>
        <div class="single-offer-content">
            <p>Breaded eggplant, tomato sauce and provolone cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">BBQ Chicken Hoagie</div>
        <div class="single-offer-content">
            <p>Grilled chicken breast, green pepper, red onion, provolone cheese and BBQ sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<hr class='hr-dashed-devider'>
<!-- Gourmet Hoagies -->
<h3 class='menu_title'>Gourmet Hoagies</h3>
<div class='extras_parent_block height-140'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Half 8”</span>
        <span class='extras_price_tag'>$7.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$0.95</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$1.45</span><br>
        Extra Meat:       <span class='extras_price_tag'>$1.95</span><br>
    </div>
    <hr class='hr-devider'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Whole 16”</span>
        <span class='extras_price_tag'>$12.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$1.65</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$2.45</span><br>
        Extra Meat:       <span class='extras_price_tag'>$2.95</span><br>
    </div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Supreme Italian Hoagie</div>
        <div class="single-offer-content">
            <p>Ham, salami, capicola, pepperoni, sausage, hot peppers, extra cheese, lettuce, tomato, red onion and Italian dressing</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Supreme Steak Hoagie</div>
        <div class="single-offer-content">
            <p>Steak, mushroom, red onion, green peppers, hot peppers, extra cheese, lettuce and tomato</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Ranchero Steak Hoagie</div>
        <div class="single-offer-content">
            <p>Steak, french fries, special ranch sauce and extra cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Ranchero Chicken & Bacon Hoagie</div>
        <div class="single-offer-content">
            <p>Grilled chicken, bacon, french fries, special ranch sauce, provolone and cheddar cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Club Hoagie</div>
        <div class="single-offer-content">
            <p>Sliced smoked turkey breast, sliced ham, bacon, provolone and cheddar cheese, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Yinz Hoagie</div>
        <div class="single-offer-content">
            <p>Grilled chicken, buffalo fries, special ranch and hot sauce, provolone cheese</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Mediterranean Hoagie</div>
        <div class="single-offer-content">
            <p>Marinated artichoke hearts,mushroom, onion, tomatoes,roasted red peppers, provolone, and feta cheese with garlic sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>