<h3 class='menu_title'>Pastas</h3>
<h6 class='center'>All dinners served with garlic bread and a small garden salad with your choice of dressing</h6>

<div class='extras_parent_block height-75'>
    <div class='extras_div_block'>
        Extra Cheese:     <span class='extras_price_tag'>$2.50</span><br>
        Extra Meat:       <span class='extras_price_tag'>$2.00</span><br>
    </div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Spaghetti</div>
        <div class="single-offer-content">
            <p>Spaghetti pasta with marinara sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$9.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Baked Ziti</div>
        <div class="single-offer-content">
            <p>Penne pasta with marinara sauce, mozzarella, provolone and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Cheese Ravioli</div>
        <div class="single-offer-content">
            <p>Cheese ravioli with marinara sauce, mozzarella and provolone cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Beef Ravioli</div>
        <div class="single-offer-content">
            <p>Beef ravioli with marinara sauce, mozzarella and provolone cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Stuffed Shells</div>
        <div class="single-offer-content">
            <p>Stuffed shells with marinara sauce, mozzarella and provolone cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Pasta with Meatball</div>
        <div class="single-offer-content">
            <p>Spaghetti with meatballs, marinara sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$11.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Pasta with Sausage</div>
        <div class="single-offer-content">
            <p>Spaghetti with Italian sausage, marinara sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$12.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Meat Pasta</div>
        <div class="single-offer-content">
            <p>Spaghetti with meatballs, Italian sausage, marinara sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$13.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Parmesan Dinner</div>
        <div class="single-offer-content">
            <p>Spaghetti with breaded chicken fillet, marinara sauce, mozzarella and provolone cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$13.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Eggplant Parmesan Dinner</div>
        <div class="single-offer-content">
            <p>Spaghetti with breaded eggplant, marinara sauce, mozzarella and provolone cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$13.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Greek Dinner</div>
        <div class="single-offer-content">
            <p>Fettuccine with gyro meat, roasted red peppers, black olives, tomato, romano and feta cheese with white sauce</p>
        </div>
    </div>
    <div class="single-offer-price">$13.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Fettuccine Alfredo</div>
        <div class="single-offer-content">
            <p>Fettuccine pasta with Alfredo sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$11.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Grilled Chicken Alfredo</div>
        <div class="single-offer-content">
            <p>Fettuccine pasta with grilled chicken, Alfredo sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$13.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Grilled Chicken and Broccoli Alfredo</div>
        <div class="single-offer-content">
            <p>Fettuccine pasta with grilled chicken, fresh broccoli, Alfredo sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$14.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Carbonara</div>
        <div class="single-offer-content">
            <p>Fettuccine pasta with grilled chicken, bacon, mushrooms, Alfredo sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$14.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Pasta with Shrimp</div>
        <div class="single-offer-content">
            <p>Fettuccine pasta with sautéed shrimp, Alfredo sauce and romano cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$14.95</div>
    <div class="clear"></div>
</div>