<h3 class='menu_title'>Traditional Pizza</h3>

<!-- Extras -->
<div class='extras_parent_block'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Small</span>
        <span class='extras_price_tag'>$8.95</span>
        <br>
        <span class='extras_size_tag'>10” 6 Cut</span>

        <hr width='85%'>
        <span class='extras_size_tag pizza-toppin-size'>Whole topping: $1.45</span>
        <br>
        <span class='extras_size_tag pizza-toppin-size'>Half topping: $0.95</span>

    </div>
    <hr class='hr-pizza-devise'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Medium</span>
        <span class='extras_price_tag'>$11.95</span>
        <br>
        <span class='extras_size_tag'>14” 8 Cut</span>

        <hr width='85%'>
        <span class='extras_size_tag pizza-toppin-size'>Whole topping: $1.95</span>
        <br>
        <span class='extras_size_tag pizza-toppin-size'>Half topping: $1.25</span>
    </div>
    <hr class='hr-pizza-devise'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Large</span>
        <span class='extras_price_tag'>$12.95</span>
        <br>
        <span class='extras_size_tag'>16” 12 Cut</span>

        <hr width='85%'>
        <span class='extras_size_tag pizza-toppin-size'>Whole topping: $2.25</span>
        <br>
        <span class='extras_size_tag pizza-toppin-size'>Half topping: $1.45</span>
    </div>
    <hr class='hr-pizza-devise'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>X-Large</span>
        <span class='extras_price_tag'>$13.95</span>
        <br>
        <span class='extras_size_tag'>18” 16 Cut</span>

        <hr width='85%'>
        <span class='extras_size_tag pizza-toppin-size'>Whole topping: $2.65</span>
        <br>
        <span class='extras_size_tag pizza-toppin-size'>Half topping: $1.45</span>
    </div>
</div>

<div style='margin-top: 50px'></div>
<div class="single-offer-item" id='single-offer-item-media'>
    <div class="single-offer-details">
        <div class="single-offer-title"> Sicilian Pizza <span style='font-size: 20px; font-weight: normal;'>16 Cut</span> </div>
        <div class="single-offer-content">
            <p> 
                Whole topping - 2.65 
            <br>
                Half Topping - 1.45
            </p>
        </div>
    </div>
    <div class="single-offer-price">$13.95</div>
    <div class="clear"></div>
</div>

<div class="single-offer-item">
    <div class="single-offer-details" style='width: 100%'>
        <div class="single-offer-title"> Toppings </div>
        <div class="single-offer-content">
            <p> 
                Cheese: *Feta, *Fontinella, *Sharp Cheddar, Mozzarella/Provolone Blend, Romano
                <br><br>
                Meats: *Grilled Chicken, *Steak, *Gyro Meats, Pepperoni, Bacon, Italian Sausage, Ham, Meatball, Salami, Capicola, Anchovies
                <br><br>
                Vegetables: Mushrooms, *Marinated Artichoke Hearts, *Roasted Red Peppers, Green Peppers, Tomatoes, Red Onions, Black Olives, Hot Peppers, Spinach, Pineapple, *Broccoli, *Jalapeño Peppers
                <br><br>
                <span class='gourment-topping-important'>
                    *Gourmet Toppings are Double Priced Items
                </span>
            </p>
        </div>
    </div>
    <div class="clear"></div>
</div>
