<h3 class='menu_title'>Salads</h3>
<hr class='hr-dashed-devider3px'>
<h6 class='center'>Extra Toppings</h6>
<div class='extras_parent_block height-140'>
    <div class='extras_div_block'>
        Extra Vegetables: <span class='extras_price_tag'>$1.45</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$1.45</span><br>
        Extra Meat:       <span class='extras_price_tag'>$2.95</span><br>
        Extra Dressing:   <span class='extras_price_tag'>$0.95</span><br>
    </div>
    <hr class='hr-devider'>
    <div class='extras_div_block'>
        Extra Vegetables: <span class='extras_price_tag'>$2.25</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$2.45</span><br>
        Extra Meat:       <span class='extras_price_tag'>$2.95</span><br>
        Extra Dressing:   <span class='extras_price_tag'>$0.95</span><br>
    </div>
</div>
Dressings: Ranch, Fat-Free Ranch, French,
Blue Cheese, House Italian, Light Italian,
Thousand Island, Honey Dijon, Greek,
Parmesan Peppercorn, Balsamic Vinaigrette


<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Garden Salad</div>
        <div class="single-offer-content">
            <p>Small: <span class='extras_price_tag' style='font-size: 25px'>$5.65</span> with cheese <span class='extras_price_tag' style='font-size: 25px'>$6.65</span> </p>
            <p>Large: <span class='extras_price_tag' style='font-size: 25px'>$6.95</span> with cheese <span class='extras_price_tag' style='font-size: 25px'>$8.95</span></p>
            <p>Lettuce, cherry tomato, green pepper, cucumber, red onions and pepperoncini</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Greek Salad</div>
        <div class="single-offer-content">
            <p>Small: <span class='extras_price_tag' style='font-size: 25px'>$6.95</p>
            <p>Large: <span class='extras_price_tag' style='font-size: 25px'>$9.95</p>
            <p>Lettuce, tomato, green pepper, cucumber, red onions, black olives, feta cheese, pepperoncini and Greek dressing</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Grilled Chicken Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onions, pepperoncini, grilled chicken, french fries, mozzarella and provolone cheeses</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Breaded Chicken Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onions, pepperoncini, breaded chicken, french fries, mozzarella and provolone cheeses</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Buffalo Chicken Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green peppers, cucumbers, red onions, pepperoncini, breaded buffalo chicken, buffalo fries, mozzarella and provolone cheeses</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Popcorn Chicken Salad </div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green peppers, cucumbers, red onions, pepperoncini, popcorn chicken, french fries, mozzarella and provolone cheeses</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Steak Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onions, pepperoncini, steak, mushrooms, french fries, mozzarella and provolone cheeses</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Seafood Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onions, pepperoncini, shrimp, crab meat, mozzarella and provolone cheeses</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Gyro Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onions, pepperoncini, pita bread, gyro meat, feta cheese and cucumber sauce on side</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chef Salad</div>
        <div class="single-offer-content">
            <p>
                Lettuce, tomato, green pepper, cucumber, red onions, pepperoncini, turkey breast, ham, provolone, mozzarella and sharp cheddar cheeses
            </p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Antipasto Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onions, pepperoncini, ham, salami, capicola, pepperoni, provolone and mozzarella cheeses</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Mediterranean Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onion, pepperoncini, marinated artichoke hearts, roasted red peppers, black olives and feta cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Tuscan Chicken Salad</div>
        <div class="single-offer-content">
            <p>Lettuce, tomato, green pepper, cucumber, red onion, pepperoncini, grilled chicken breast, marinated artichoke hearts, roasted red peppers and feta cheese</p>
        </div>
    </div>
    <div class="single-offer-price">$10.95</div>
    <div class="clear"></div>
</div>