<h3 class='menu_title'>Special Pizzas</h3>
<!-- Extras -->
<div class='extras_parent_block'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Small</span>
        <span class='extras_price_tag'>$13.95</span>
        <br>
        <span class='extras_size_tag'>10” 6 Cut</span>
    </div>
    <hr class='extras_hr_tag'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Medium</span>
        <span class='extras_price_tag'>$18.95</span>
        <br>
        <span class='extras_size_tag'>14” 8 Cut</span>
    </div>
    <hr class='extras_hr_tag'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Large</span>
        <span class='extras_price_tag'>$21.95</span>
        <br>
        <span class='extras_size_tag'>16” 12 Cut</span>
    </div>
    <hr class='extras_hr_tag'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>X-Large</span>
        <span class='extras_price_tag'>$23.95</span>
        <br>
        <span class='extras_size_tag'>18” 16 Cut</span>
    </div>
</div>

<!-- Items -->
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Five Cheese Pie</div>
        <div class="single-offer-content">
            <p>Mozzarella cheese, provolone cheese, fontinella cheese, romano cheese and feta cheese with red sauce.</p>
        </div>
    </div>
    <div class="single-offer-price"></div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Spinach & Feta Pie</div>
        <div class="single-offer-content">
            <p>Spinach, tomato, red onion, mushrooms, mozzarella, provolone, feta and romano cheeses with white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Spinach & Chicken Pie</div>
        <div class="single-offer-content">
            <p>Spinach, grilled chicken, tomatoes, red onions, bacon, mozzarella and provolone cheeses with red sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Spinach & Garlic Pie</div>
        <div class="single-offer-content">
            <p>Spinach, fresh garlic, mozzarella, provolone, romano and fontinella cheeses with white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Broccoli & Chicken Pie</div>
        <div class="single-offer-content">
            <p>Fresh broccoli, grilled chicken strips, mozzarella, provolone, cheddar and romano cheese with white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">BBQ Chicken Pie</div>
        <div class="single-offer-content">
            <p>Grilled chicken breast, red onion, green pepper, mozzarella, provolone and cheddar cheeses with BBQ sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Buffalo Chicken Pie</div>
        <div class="single-offer-content">
            <p>Breaded chicken breast, buffalo fries, sharp cheddar, mozzarella and provolone cheeses with hot sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Ultimate Meat Pie</div>
        <div class="single-offer-content">
            <p>Pepperoni, sausage, ham, salami, capicola, gyro meat, bacon, mozzarella and provolone cheeses with red sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Ranchero Pie</div>
        <div class="single-offer-content">
            <p>Grilled chicken breast, bacon, tomato, mozzarella, provolone and cheddar cheeses with ranch sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Steak Ranchero Pie</div>
        <div class="single-offer-content">
            <p>Steak, onion, french fries, mozzarella, provolone and sharp cheddar cheeses with ranch sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Spicy Ranchero Pie</div>
        <div class="single-offer-content">
            <p>Grilled chicken strips, buffalo fries, mozzarella, provolone and cheddar cheese with spicy ranchero sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Steak Pie</div>
        <div class="single-offer-content">
            <p>Steak, red onion, mushroom, green pepper, mozzarella, provolone and romano cheeses with white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Vegetable Pie</div>
        <div class="single-offer-content">
            <p>Spinach, mushroom, red onion, green pepper, tomato, broccoli, fresh garlic, mozzarella, provolone and romano cheeses with red sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Seafood Pie</div>
        <div class="single-offer-content">
            <p>Shrimp, crab meat, mushrooms, tomato, red onion, mozzarella and provolone cheeses with garlic sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Greek Pie</div>
        <div class="single-offer-content">
            <p>Shrimp, crab meat, mushrooms, tomato, red onion, mozzarella and provolone cheeses with garlic sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Hawaiian Pie</div>
        <div class="single-offer-content">
            <p>Ham, pineapple, fontinella, mozzarella and provolone cheeses with red sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Pierogie Pie</div>
        <div class="single-offer-content">
            <p>Mashed potatoes, onions, mozzarella, provolone and cheddar cheese with white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Taco Pie</div>
        <div class="single-offer-content">
            <p>Spicy seasoned ground beef covered with mozzarella, provolone and cheddar cheeses topped with cold lettuce, fresh tomatoes, red onions and black olives</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">R&B’S Special Pie</div>
        <div class="single-offer-content">
            <p>Pepperoni, sausage, bacon, mushroom, tomato, green peppers, red onions, black olives, fresh garlic, mozzarella and provolone cheeses with red sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Mediterranean Pie</div>
        <div class="single-offer-content">
            <p>Marinated artichoke hearts, mushrooms, tomatoes, roasted red peppers, black olives, onions, mozzarella, provolone and feta cheese with white sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Tuscan Chicken Pie</div>
        <div class="single-offer-content">
            <p>Grilled chicken, marinated artichoke hearts, spinach, roasted red peppers, black olives, mozzarella, provolone, and feta cheese with ranch sauce</p>
        </div>
    </div>
    <div class="clear"></div>
</div>