<h3 class='menu_title'>Wedgies</h3>
<div class='extras_parent_block height-140'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Small 10”</span>
        <span class='extras_price_tag'>$13.95</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$1.95</span><br>
        Extra Meat:       <span class='extras_price_tag'>$1.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$1.95</span><br>
    </div>
    <hr class='hr-devider'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>Large 14”</span>
        <span class='extras_price_tag'>$20.95</span><br>
        Extra Cheese:     <span class='extras_price_tag'>$2.95</span><br>
        Extra Meat:       <span class='extras_price_tag'>$2.95</span><br>
        Extra Vegetables: <span class='extras_price_tag'>$2.95</span><br>
    </div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Italian Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with ham, salami, capicola, pepperoni, mozzarella and provolone cheeses, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Steak Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with steak, mushroom, green pepper, mozzarella and provolone cheeses, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Chicken Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with grilled chicken strips, mozzarella and provolone cheeses, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Gyro Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with gyro meat, mozzarella and provolone cheeses, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Turkey Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with turkey, mozzarella and provolone cheeses, lettuce, tomato and red onion</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Vegetable Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with spinach, mushrooms, green pepper, red onion, lettuce, tomato, broccoli, mozzarella and provolone cheeses</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Seafood Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with shrimp, crab meat, mushrooms, mozzarella and provolone cheeses, lettuce, tomatoes and red onions</p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Taco Wedgie</div>
        <div class="single-offer-content">
            <p>Stuffed with spicy seasoned ground beef, mozzarella, provolone and cheddar cheeses, lettuce, tomatoes, red onions and black olives</p>
        </div>
    </div>
    <div class="clear"></div>
</div>