<h3 class='menu_title'>Wings</h3>

<h5>
    <p>All wings served with Blue Cheese or your choice dressing</p>
    <p>(Hot, Mild, Garlic, BBQ, Hot Garlic, Ranch, Hot Ranch, Hot BBQ, Wing Dust)</p>
</h5>

<div class='extras_parent_block height-60'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>6 Pcs.</span>
        <span class='extras_price_tag' style='font-size: 25px'>$6.95</span>
    </div>
    <hr class='hr-devider'>
    <div class='extras_div_block'>
        <span class='extras_title_tag'>12 Pcs.</span>
        <span class='extras_price_tag' style='font-size: 25px'>$10.95</span>
    </div>
</div>

<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Wing Dings (Breaded Plain)</div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Wing Zings (Breaded Spicy)</div>
    </div>
    <div class="clear"></div>
</div>
<div class="single-offer-item">
    <div class="single-offer-details">
        <div class="single-offer-title">Fresh Wings</div>
    </div>
    <div class="clear"></div>
</div>

