<div id='applicant_form_product' class="bg-main">
    <div class="container-fluid">
        <div class="row">
            <!-- Form-->
            <div class="col-md-5">
                <h2>ENTER YOUR INFO</h2>
                <p class="p-form">Choose carefully, you can only enter for one awesome prize.</p>
                <%= form_for(:applicant, url: v1_promotion_applicants_path(@product), remote: true, html: {id: "applicant_apply_form"}) do |f| %>
                    <%= f.text_field :first_name, class: "first-name-input", placeholder: "First Name - Required", minlength: 2, required: true %>
                    <%= f.text_field :last_name, class: 'last-name-input', placeholder: "Last Name - Required", minlength: 2, required: true %>
                    <%= f.email_field :email, class: 'email-input', placeholder: "Email Address - Required", required: true %>

                    <%= f.text_field :address_line, class: 'shipping-input', placeholder: "Address Line One - Required", required: true %>
                    <%= f.text_field :address_line_two, class: 'shipping-input', placeholder: "OPTIONAL: Address Line Two" %>
                    <%= f.text_field :city, class: "city-input", placeholder: 'City - Required', required: true %>
                    <%= f.text_field :state, class: "city-input", value: 'Pennsylvania', disabled: true %>
                    <%= f.select :zip_code, ["15202", "15212", "15214", "15229", "15237"], {:prompt => "Zip Code"},{class: "zip-input", required: true}%>
                    <!-- <i class="i i-1"><img src="/assets/img/input-5.png" alt=""></i> -->
                    
                    <%= f.text_field :phone_number, id: "phone_number_form", class: "first-name-input", placeholder: 'Enter Phone Number - Required', required: true%>

                    <div class="but">
                        <button type="reset" class="cancel-btn"  id='cancel_applicant_form'>Cancel</button>
                        <button type="submit" class="submit-btn" id='apply_applicant_form' >Submit</button>
                    </div>
                <% end %>                  
            </div>
            <div class="col-md-7">
                <header class="head">
                    <h1><%= @product.title %></h1>
                </header>
                <section>
                    <h3 class="hidden">CHOOSE ONE PAYBACK FOR A CHANCE TO WIN</h3>
                    <div class="center-wrapper">
                        <p class="slogan-page2 slog-page-form">
                            qty: <%= @product.quantity %>
                        </p>
                        <div class="img-center img-form">
                            <%#= image_tag @product.image_url %>
                            <img src="/assets/img/photo.png" alt="Content-photo">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- Form Telefon input dashing -->
<script type="text/javascript">
    $tel_field = $("#phone_number_form");
    $tel_field.keyup(function(){
        var r = /(\D+)/g,
            npa = '',
            nxx = '',
            last4 = '';
        value = $(this).val().replace(r, '');
        npa = value.substr(0, 3);
        nxx = value.substr(3, 3);
        last4 = value.substr(6, 4);
        value = npa + '-' + nxx + '-' + last4;
        $tel_field.val(value);
    })
</script>