

<div id='single_product' class="bg-main2">
    <header class="head">
        <h1><%= @product.title %></h1>
    </header>
    <section>
        <h3 class="hidden">CHOOSE ONE PAYBACK FOR A CHANCE TO WIN</h3>
        <div class="center-wrapper">
            <p class="slogan-page2">
                qty: <%= @product.quantity %>
            </p>
            <div class="img-center">
                <img src="/assets/img/photo.png" alt="Content-photo">
            </div>
        </div>
        <p class="footer-page2">
            <%= @product.desc %>
        </p>

        <a class="click" id='chance_form'>enter for a chance to win</a>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                    	<%= link_to "EXPLORE PRIZES", v1_promotion_index_path %>
                        <!-- <a href="freeLarge.html">EXPLORE PRIZES</a> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<%= render 'application_form' %>

<script>
	$('#applicant_form_product').hide();
	
	$('#chance_form').on('click', function(e) {
		e.preventDefault();
		$('#single_product').hide();
		$('#applicant_form_product').show();		
		// $('#single_product').replaceWith('<%#= j render 'application_form' %>');
	});

	$('#cancel_applicant_form').click(function(){
		hide_form_and_redirect();
	});

	// $(function() {
	//   $("#applicant_apply_form")
	//     .on('ajax:error', function(xhr, status, error) {
	// 	    console.log("ERR-status :", status);
	// 	    console.log("xhr :", xhr);
	// 	    console.log("error :", error);
	// 	    hide_form_and_redirect();

	//   }).on('ajax:success', function(data, status, xhr) {
	// 	    console.log("SUCC data:", data);
	// 	    console.log("SUCC status:", status);
	// 	    console.log("SUCC xhr:", xhr);
	// 	  	hide_form_and_redirect();
	//   });
	// });

	function hide_form_and_redirect(){
		$('#applicant_form_product').hide();
		$('#single_product').show();
	};
</script>
