@font-face {
  font-family: Boom; /* Имя шрифта */
  src: url(../fonts/AABadaBoomBB.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Carb; /* Имя шрифта */
  src: url(../fonts/Carbonica.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Agan; /* Имя шрифта */
  src: url(../fonts/Agency-fb.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Cha; /* Имя шрифта */
  src: url(../fonts/ChalkLineOutline.ttf); /* Путь к файлу со шрифтом */
}
