<!DOCTYPE>
<html>
<head>
</head>
<body>
	<p> You have recieved a message the site's contact form, form <%= "#{@full_name}, #{@email}"%> </p>

	<h1> <%= "#{@promotion}" %> </h1>
	<p> Thank you for applying <%= "#{@promotion}" %> promotion. This email is for confirmation.</p>
</body>
</html>