/*Reset Style*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End Reset*/
@font-face {
  font-family: Boom;
  /* Имя шрифта */
  src: url(/assets/AABadaBoomBB.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Carb;
  /* Имя шрифта */
  src: url(/assets/Carbonica.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Agan;
  /* Имя шрифта */
  src: url(/assets/Agency-fb.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Cha;
  /* Имя шрифта */
  src: url(/assets/ChalkLineOutline.ttf);
  /* Путь к файлу со шрифтом */
}
/*Style Main-Page*/
.hidden {
  display: none;
}
.wrapper {
  min-width: 300px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.bg-main,
.main,
.bg-main2 {
  width: 100%;
  /*height: 100vh;*/
  height: 105%;
  margin: 0 auto;
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}
a,
a:focus {
  outline: none;
}
header {
  margin-bottom: 200px;
}
.logo a {
  outline: none;
}
.logo-img {
  display: block;
  width: 250px;
  margin: 40px auto 0;
}
.slog-logo {
  text-align: center;
  font-family: "Boom", sans-serif;
  font-size: 24px;
}
.slog-logo a {
  color: white;
}
.text-logo {
  text-align: center;
  font-family: "Agan", sans-serif;
  font-size: 16px;
}
.text-logo a {
  color: white;
}
.delivery,
.car,
.pinball,
.pizza {
  text-align: center;
  transition: .9s;
  transition-delay: 0.5s;
}
.delivery:hover .text-delivery,
.car:hover .text-car,
.pinball:hover .text-pinball,
.pizza:hover .text-pizza {
  color: #6cff00;
}
.delivery-img,
.pizza-img {
  position: relative;
  cursor: pointer;
  width: 200px;
}
.text-delivery,
.text-car,
.text-pinball,
.text-pizza {
  display: block;
  position: absolute;
  top: -50px;
  left: 90px;
  text-align: center;
  font-family: "Boom", sans-serif;
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
}
.text-car {
  top: -33px;
}
.car-img {
  position: relative;
  width: 250px;
  cursor: pointer;
}
.pinball-img {
  position: relative;
  cursor: pointer;
  width: 140px;
  top: -70px;
}
.pizza-img {
  top: -45px;
}
.text-pizza {
  left: 55px;
}
footer {
  position: fixed;
  bottom: 20px;
  margin: 0 auto;
  width: 100%;
}
.footer-text {
  text-align: center;
  flex: 0 0 auto;
}
.footer-text a {
  font-family: "Boom", sans-serif;
  font-size: 60px;
  color: #f7ff70;
  -webkit-text-stroke: 1px black;
}
/*---------------------*/
/*Page-2*/
h1 {
  font-family: "Boom", sans-serif;
  font-size: 60px;
  -webkit-text-stroke: 1px black;
  text-align: center;
  padding-top: 40px;
  color: white;
}
.head {
  margin-bottom: 4%;
}
.img-center {
  text-align: center;
}
.img-center img {
  width: 40%;
}
.footer-page2 {
  font-family: "Agan", sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
  width: 71%;
  margin: 30px auto 10px;
}
.click {
  display: block;
  text-align: center;
  font-family: "Boom", sans-serif;
  font-size: 60px;
  color: #f7ff70;
  -webkit-text-stroke: 1px black;
}
.slogan-page2 {
  padding-left: 20%;
  text-transform: uppercase;
  font-family: "Cha", sans-serif;
  font-size: 66px;
  color: #b0b0b0;
}
/*---------------------*/
/*Page-form*/
.slog-page-form {
  padding-left: 0;
  font-size: 3vw;
  position: relative;
  top: 50px;
}
.img-form img {
  width: 60%;
  margin-top: 50px;
}
/* begin form styles */
form {
  max-width: 570px;
}
h2 {
  margin-top: 30px;
  font-family: "Carb", sans-serif;
  font-size: 72px;
  color: white;
  text-transform: uppercase;
}
.p-form {
  font-family: "Agan", sans-serif;
  font-size: 24px;
  color: white;
  padding-bottom: 10px;
}
.form form {
  max-width: 570px;
}
input[type="text"] {
  padding-left: 15px;
  font-family: "Carb", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  color: #aaaaaa;
}
input[type="email"] {
  padding-left: 15px;
  font-family: "Carb", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  color: #aaaaaa;
}
.first-name-input,
.last-name-input {
  background: transparent url("/assets/img/input1.png") no-repeat;
  border: none;
  width: 270px;
  height: 60px;
}
.email-input,
.shipping-input {
  background: transparent url("/assets/img/input2.png") no-repeat;
  border: none;
  width: 540px;
  height: 60px;
}
.city-input {
  background: transparent url("/assets/img/input3.png") no-repeat;
  border: none;
  width: 190px;
  height: 60px;
}
::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding-left: 5%;
  font-family: "Carb", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  color: #aaaaaa;
}
.zip-input {
  background: transparent url("/assets/img/input4.png") no-repeat;
  border: none;
  width: 120px;
  height: 60px;
  cursor: pointer;
}
.zip-input select {
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid #d0d0d0;
  border-radius: 10px;
}
.i {
  position: relative;
  top: 25px;
  left: 35px;
  cursor: pointer;
}
.i-1 {
  top: 22px;
}
.form button {
  border: none;
  background: transparent;
}
.submit-btn,
.cancel-btn {
  border: none;
  outline: none;
  background: none;
  margin-top: 6px;
  font-family: "Boom", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: black 2px 2px 0, black -2px -2px 0, black -2px 2px 0, black 2px -2px 0;
}
.submit-btn {
  color: #30b22d;
}
.cancel-btn {
  margin-left: 60px;
  color: #ff3434;
  margin-right: 100px;
}
.but {
  padding: 10px 0;
}
/* end form styles */
/* Float Shadow */
.float-shadow {
  width: 100%;
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.float-shadow:hover,
.float-shadow:focus,
.float-shadow:active {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  /* move the element up by 5px */
}
.float-shadow:hover:before,
.float-shadow:focus:before,
.float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
@media screen and (max-width: 1590px) {
  .bg-main {
    height: auto;
  }
  form {
    text-align: center;
  }
  input[type="text"] {
    display: block;
    margin: 10px auto 0;
  }
  .email-input,
  .shipping-input,
  .city-input {
    background: transparent url("/assets/img/input1.png") no-repeat;
    border: none;
    width: 270px;
    height: 60px;
  }
  .i-1 {
    top: 23px;
  }
  h2,
  .p-form {
    text-align: center;
  }
}
@media screen and (max-width: 1280px) {
  header {
    margin-bottom: 10%;
  }
  footer {
    position: relative;
  }
  /*-----*/
  .click {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .slogan-page2 {
    padding-left: 0;
    font-size: 44px;
    text-align: center;
  }
  .logo-img {
    display: block;
    width: 200px;
    margin: 15px auto 0;
  }
  .slog-logo {
    font-size: 20px;
  }
  .text-logo {
    font-size: 14px;
  }
  .delivery-img,
  .pizza-img {
    width: 150px;
  }
  .text-delivery,
  .text-car,
  .text-pinball,
  .text-pizza {
    font-size: 32px;
  }
  .car-img {
    width: 200px;
  }
  .pinball-img {
    width: 115px;
  }
}
@media screen and (max-height: 600px) {
  .bg-main2 {
    height: 700px;
  }
}
@media screen and (max-width: 1050px) {
  form {
    max-width: 100%;
  }
  header {
    margin-bottom: 8%;
  }
  .pinball-img {
    top: 50px;
  }
  .text-pinball {
    top: 60px;
  }
  .delivery:hover,
  .car:hover,
  .pinball:hover,
  .pizza:hover {
    transform: translateY(0);
  }
  .pizza-top {
    top: -80px;
  }
}
@media screen and (max-width: 980px) {
  .main {
    height: 100vh;
  }
}
@media screen and (max-width: 850px) {
  .text-delivery,
  .text-car {
    position: relative;
    top: -80px;
    left: -8px;
  }
  .main {
    height: auto;
  }
  .pinball-img {
    top: 20px;
  }
  .text-pinball {
    top: -150px;
    left: -15px;
    position: relative;
  }
  .text-pizza {
    left: -20px;
    top: -195px;
    position: relative;
  }
  .pizza-top {
    top: -165px;
  }
  /*-----*/
  h1 {
    font-size: 8vw;
    padding-top: 15px;
  }
  .head {
    margin-bottom: 2%;
  }
  .img-center img {
    width: 50%;
  }
  .footer-page2 {
    font-size: 14px;
    width: 90%;
  }
  .click {
    font-size: 8vw;
  }
  .slogan-page2 {
    font-size: 8vw;
  }
  .float-shadow:hover,
  .float-shadow:focus,
  .float-shadow:active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .float-shadow:hover:before,
  .float-shadow:focus:before,
  .float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  .pizza-top {
    top: 25px;
  }
  h2 {
    font-size: 12vw;
  }
  .p-form {
    font-size: 4vw;
  }
  .submit-btn,
  .cancel-btn {
    font-size: 9vw;
  }
  .cancel-btn {
    margin-left: 0;
  }
}
@media screen and (max-height: 480px) {
  .bg-main2 {
    height: 500px;
  }
}
@media screen and (max-width: 450px) {
  .logo-img {
    width: 190px;
  }
  .slog-logo {
    font-size: 14px;
  }
  .text-logo {
    font-size: 12px;
  }
  .footer-text a {
    font-size: 40px;
  }
}
