<%= form_for (product), url: url, html:{class: 'form-horizontal form-label-left'} do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :title, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Title: <span class="required">*</span>
    <% end %>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :title, class: 'form-control col-md-7 col-xs-12', placeholder: "Title", required: "required"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :desc, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Description: <span class="required">*</span>
    <% end %>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :desc, class: 'form-control col-md-7 col-xs-12', placeholder: "Description of Promotion", required: "required"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :quantity, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Quantity: <span class="required">*</span>
    <% end %>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.number_field :quantity, class: 'form-control col-md-7 col-xs-12', placeholder: "Quantity", required: "required"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :image, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Image: <span class="required"><%= !@product.image? ? "*" : '' %></span>
    <% end %>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.file_field :image, class: 'form-control col-md-7 col-xs-12' %>
        <%= image_tag(product.image_url, size: "275") if @product.image? %>
        <%= f.hidden_field :image_cache %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :active, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Activate: <span class="required"></span>
    <% end %>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.check_box :active, class: 'form-control col-md-7 col-xs-12'%>
    </div>
  </div>


  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Cancel", admin_promotions_path, class: 'btn btn-primary' %>
      <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
