<div class="page-title">
  <div class="title_left">
    <h2 id="notice"><%= notice %></h2>
    <h3>
        Promotions Total: <%= @products.length %>
        <br>
        <small> Activated Promotions will be checked </small>
      </h3>
  </div>
  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <%= link_to "Add new a Promotion", new_admin_promotion_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Responsive example <small>Users</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <!-- <li><a class="close-link"><i class="fa fa-close"></i></a></li> -->
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
          Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
        </p>
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= image_tag(product.image, size: "75") %></td>
              <td><%= product.title %></td>
              <td><%= product.desc %></td>
              <td><%= product.quantity %></td>
              <td><%= check_box_tag("active", "accepted", product.active, disabled: true) %></td>
              <td>
                <%= link_to 'Edit', edit_admin_promotion_path(product), class: 'btn btn-default '%>
                <%= link_to 'Destroy', admin_promotion_path(product, destroy: true), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
