<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(/assets/v2/upload/rbs_slide4_and_bg.jpg); "></div>
    <div id="container" class="template-contact-container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Contact</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="contact-maps">
                <div id="map_canvas" class="mapStyleClass"></div>
            </div>
            <div class="contact-info-wrapper">
                <div class="contact-details">
                    <div class="contact-detail contact-detail1">
                        <div class="contact-detail-title">Address</div>
                        <div class="contact-detail-content">
                            <p>421 Lincoln ave. <br /> Pittsburgh, PA 15202</p>
                        </div>
                    </div>
                    <div class="contact-detail contact-detail2">
                        <div class="contact-detail-title">Call</div>
                        <div class="contact-detail-content">
                            <p>
                                <strong>Phone / </strong> 
                                <a href="tel:1-412-732-2555">412 732 2555</a>
                                <br />
                                <strong>Email / </strong>rbspizza@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="contact-detail contact-detail3">
                        <div class="contact-detail-title">Opening hours</div>
                        <div class="contact-detail-content">
                            <p><strong>Mon – Thu / </strong>11am – 11pm<br />
                                <strong>Fri – Sat / </strong>11am – 1am<br />
                                <strong>Sunday / </strong> 11am – 11pm </p>
                        </div>
                    </div>
                </div>
                <div class="contact-form-wrapper" id='contact_form_div'>
                    <div role="form" class="wpcf7" id="wpcf7-f49-p15-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>

                        <%= form_for (Contact.new), html: {id: "contact-form"}, url: :v2_contacts, remote: true do |f| %>
                            <div class="albertos-contact-form">
                             <div class="contact-detail-title">Contact Form</div>

                              <div class="app-name">
                                <span class="wpcf7-form-control-wrap name-input">
                                    <%= f.text_field :name, :input_html => {:minlength => 2, :maxlength => 25, :size => 40}, id: "name", class: "wpcf7-form-control wpcf7-text wpcf7-validates-as-required", aria: {required: true, invalid: false}, placeholder: "Name", required: true %>
                                </span>
                              </div>

                              <div class="app-phone">
                                    <span class="wpcf7-form-control-wrap email-input">
                                        <%= f.text_field :email, type: "email", :input_html => {:size => 40}, id: "mail", class: "wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email", aria: {required: true, invalid: false}, placeholder: "Email", required: true%>
                                    </span>
                              </div>
                              <p>
                                <span class="wpcf7-form-control-wrap appointment-message">
                                    <%= f.text_area :message, id: "comment", cols: "40", rows: "10", class: "wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required", aria: {required: true, invalid: false}, :minlength => 10, placeholder: "Message", required: true %>
                                </span>
                              </p>
                              <div class="clear"></div>
                              <div class="contact-submit">
                                <%= f.submit "Send message", class: "wpcf7-form-control wpcf7-submit", id: "submit_contact"%>
                                <div id="msg" class="message"></div>
                              </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    $('#contact-form').on('ajax:success', function() {
        $('#wpcf7-f49-p15-o1').replaceWith("<h4 style='color: green;'>Successfully Message Sent!</h4>");
    });  
</script>