<div class="container-wrapper">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.1.5 fullscreen mode -->
        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.1.5">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/assets/v2/upload/rbs_slide4-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="slider one" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/v2/upload/rbs_slide4_and_bg.jpg" alt="" title="slide4" width="2560" height="1440" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Back.easeOut" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/assets/v2/upload/rbs_slide3-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="slider two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/v2/upload/rbs_slide3.jpg" alt="" title="bg-pizza" width="1316" height="822" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/assets/v2/upload/rbs_slide5-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="slider three" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/assets/v2/upload/rbs_slide5.jpg" alt="" title="slide5" width="1800" height="1013" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Back.easeOut" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                </li>
            </ul>
            <div style="" class="tp-static-layers">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-5" data-x="['center','center','center','center']" data-hoffset="['150','142','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-148','-60','-40']" data-fontsize="['92','92','92','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="2" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 92px; line-height: 92px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Patua One;text-shadow:0px 2px 2px rgba(0, 0, 0, 0.6);">We have the Best </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','110','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-16','-16','74','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="2" data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[5,5,5,5]" data-paddingright="[40,40,40,40]" data-paddingbottom="[5,5,5,5]" data-paddingleft="[40,40,40,40]" style="z-index: 6; white-space: nowrap; font-size: 140px; line-height: 140px; font-weight: 400; color: rgba(250, 185, 64, 1.00);font-family:Patua One;background-color:rgba(36, 36, 36, 1.00);border-radius:10px 10px 10px 10px;">Pizza </div>
            </div>

            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>

    </div>
    <!-- END REVOLUTION SLIDER -->
    <div class="clear"></div>
</div>
