<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(/assets/v2/upload/rbs_slide4_and_bg.jpg); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <!-- <h1 class="page-title"> Menu - </h1> -->
                    <a href="https://rbspizza.hungerrush.com/Order/Menu/1#Deals" onclick="ga('send', 'event', 'Order Online Link', 'Action label', 'Action Value');" style='color: #fab940; font-size: 27px;'>
                     <!-- border: dashed #fab940' -->
                        Order Online - 421 Lincoln Ave
                    </a>
                    
                    <br/>

                    <a href="https://rbspizza.hungerrush.com/Order/Menu/2#Deals" onclick="ga('send', 'event', 'Order Online Link', 'Action label', 'Action Value');" style='color: #fab940; font-size: 27px;'>
                     <!-- border: dashed #fab940' -->
                        Order Online - 2928 West Liberty Ave
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu-wrapper">
                <ul id="filters" class="single-offer-category-filter option-set" data-option-key="filter">
                    <li class="filter-cat"><a class="selected" href="#filter" data-option-value=".cat1" style='font-size: 15px'>Traditional Pizza</a></li>
                    <li class="filter-cat"><a class="#filter" href="#filter" data-option-value=".cat2">Specialty Pizza</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat3">Appetizers</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat4">Wings</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat5">Hoagies</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat6">Salads</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat7">Gyros</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat8">Wedgies</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat9">Calzones</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat10">Pastas</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat11">Beverages</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat12">Desserts</a></li>
                </ul>

                <div class="offer-menu-items">
                    <div class="single-offer-category-item isotope-item cat1">
                        <%= render 'v2/menu/pizzas' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat2">
                        <%= render 'v2/menu/special_pizzas' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat3">
                        <%= render 'v2/menu/appetizers' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat4">
                        <%= render 'v2/menu/wings' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat5">
                        <%= render 'v2/menu/hoagies' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat6">
                        <%= render 'v2/menu/salads' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat7">
                        <%= render 'v2/menu/gyros' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat8">
                        <%= render 'v2/menu/wedgies' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat9">
                        <%= render 'v2/menu/calzones' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat10">
                        <%= render 'v2/menu/pastas' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat11">
                        <%= render 'v2/menu/beverages' %>
                    </div>
                    <div class="single-offer-category-item isotope-item cat12">
                        <%= render 'v2/menu/desserts' %>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- end page wrapper -->
    </div>
    <!-- end container -->
    <div class="clear"></div>
</div>

