<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url(/assets/v2/upload/rbs_slide4_and_bg.jpg); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                        <span style='font-size: 27px; color: #fab940'> Order Online </span>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
                <div class="page-wrapper">
            <div class="contact-maps">
                <div id="map_canvas" class="mapStyleClass"></div>
            </div>
            <div class="contact-info-wrapper">
                <div class="contact-details order-div">
                    <div>
                    </div>
                    
                    R&B's Pizza Place #1
                    <hr/>
                    421 Lincoln Ave. 
                    <br/>
                    Bellevue, Pennsylvania. 15202
                    <br/>
                        <u> <a href="tel:412-732-2555">(412) 732-2555</a> </u>
                    <br/>
                    <br/>
                    <a href="https://rbspizza.hungerrush.com/Order/Menu/1#Deals" onclick="ga('send', 'event', 'Order Online Link', 'Action label', 'Action Value');">
                        <button class='order-button'>
                            <!-- border: dashed #fab940' -->
                            Order Online
                        </button>
                    </a>
                </div>
                
                <div class="contact-details order-div">
                    R&B's Pizza Place #2
                    <hr/>
                    2928 West Liberty Ave
                    <br/>
                    Pittsburgh, Pennsylvania. 15216
                    <br/>
                        <u> <a href="tel:412-343-0102"> (412) 343-0102 </a> </u>
                    <br/>
                    <br/>
                    <a href="https://rbspizza.hungerrush.com/Order/Menu/2#Deals" onclick="ga('send', 'event', 'Order Online Link', 'Action label', 'Action Value');">
                        <button class='order-button'> 
                                <!-- border: dashed #fab940' -->
                                Order Online
                        </button>
                    </a>
                </div>
            <div class="clear"></div>
        </div>
        <!-- end page wrapper -->
    </div>
    <!-- end container -->
    <div class="clear"></div>
</div>

<script>
    $('.order-div')
        .on( "mouseenter", function() {
            // $( "p:first", this ).text( "mouse enter" );
            $(this).find("button").css({
                "background-color": "#242424",
                "border": "2px solid #fab940",
                "color": "#fab940"
            })
        })
        .on( "mouseleave", function() {
            $(this).find("button").css({
                "background-color": "#fab940",
                "color": "#fff"
            })
        });
</script>
