
$('#applicant_form_product').hide();
$('#single_product').show();
$('#applicant_apply_form')[0].reset();

if ('<%= status %>' === (200).toString()) {
	$('.alert.success').show();
}else{
	$('.alert.warning').show();
}
