
<div class="main">
    <!-- Logo-->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="#"><img class="logo-img" src="/assets/img/logo.png" alt="Logo"></a>
                        <p class="slog-logo"><a href="#">CHOOSE ONE PAYBACK FOR A CHANCE TO WIN</a></p>
                        <p class="text-logo">
                          <a href="#">
                            If you carried out large 3-topping pizzasfor more than $7.99<br/>
                            (or even if you didn't) you could get a payback.
                          </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Logo End-->
    <section>
        <!--Content a place for the slider -->
        <h1 class="hidden">CHOOSE ONE PAYBACK FOR A CHANCE TO WIN</h1>
        <div class="container-fluid">

            <% block do %>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="delivery float-shadow">
                        <a href="freeLarge.html">
                            <img class="delivery-img" src="/assets/img/item-slid-delivery.png" alt="Delivery img">
                            <a class="text-delivery" href="freeLarge.html">Free pizza <br/>for a year</a>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="car float-shadow">
                        <a href="freeLarge.html">
                            <img class="car-img" src="/assets/img/item-slid-car.png" alt="Car img">
                            <a class="text-car" href="freeLarge.html">A CAR</a>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pinball float-shadow">
                        <a href="freeLarge.html">
                            <img class="pinball-img" src="/assets/img/item-slid-pinball.png" alt="Pinball img">
                            <a class="text-pinball" href="freeLarge.html">PINBALL<br/> MACHINE</a>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="delivery float-shadow">
                        <a href="freeLarge.html">
                            <img class="delivery-img" src="/assets/img/item-slid-delivery.png" alt="Delivery img">
                            <a class="text-delivery" href="freeLarge.html">Free pizza <br/>for a year</a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="delivery float-shadow">
                        <a href="freeLarge.html">
                            <img class="delivery-img" src="/assets/img/item-slid-delivery.png" alt="Delivery img">
                            <a class="text-delivery" href="freeLarge.html">Free pizza <br/>for a year</a>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="delivery float-shadow">
                        <a href="freeLarge.html">
                            <img class="delivery-img" src="/assets/img/item-slid-delivery.png" alt="Delivery img">
                            <a class="text-delivery" href="freeLarge.html">Free pizza <br/>for a year</a>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="delivery float-shadow">
                        <a href="freeLarge.html">
                            <img class="delivery-img" src="/assets/img/item-slid-delivery.png" alt="Delivery img">
                            <a class="text-delivery" href="freeLarge.html">Free pizza <br/>for a year</a>
                        </a>
                    </div>
                </div>
            </div>
            <% end %>

            <% #block do %>
            <div class="row">
              <% @first_4.each do |product| %>
                <div class="col-md-3 col-sm-6">
                    <div class="delivery float-shadow">
                      <%= link_to promotion_path(product) do %>
                            <img class="pizza-img" src="/assets/img/item-slid-pizza.png" alt="Pizza img">
                            <span class='text-pizza'><%= product.title %></span>                        
                      <% end %>
                    </div>
                </div>
              <% end %>
            </div>


            <div class="row">
              <% @last_all.each do |product| %>
                <div class="col-md-<%= 12 / @last_all.length  %> col-sm-6">
                    <div class="delivery float-shadow">
                      <%= link_to promotion_path(product) do %>
                            <img class="pizza-img" src="/assets/img/item-slid-pizza.png" alt="Pizza img">
                            <span class='text-pizza'><%= product.title %></span>                        
                      <% end %>
                    </div>
                </div>
              <% end %>
            </div>
            <% #end %>

        </div>
        <!-- End content-->
    </section>
</div>