<!-- menu prile quick info -->
<div class="profile">
  <div class="profile_pic">
    <img src="/assets/images/img.jpg" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2><%= current_user.email %></h2>
  </div>
</div>
<!-- /menu prile quick info -->
