<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/assets/images/img.jpg" alt=""> <%= current_user.email %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>
              <%= link_to edit_user_registration_path do  %>
                <span class="badge bg-red pull-right">50%</span>
                <span>Settings</span>
              <% end %>
              
              <!-- <a href="javascript:;">
                <span class="badge bg-red pull-right">50%</span>
                <span>Settings</span>
              </a> -->
              
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-sign-out pull-right"></i> Log Out
              <% end %>
            </li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">6</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li>
              <a>
                <span class="image">
                                  <img src="/assets/images/img.jpg" alt="Profile Image" />
                              </span>
                <span>
                                  <span>John Smith</span>
                <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                              </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image">
                                  <img src="/assets/images/img.jpg" alt="Profile Image" />
                              </span>
                <span>
                                  <span>John Smith</span>
                <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                              </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image">
                                  <img src="/assets/images/img.jpg" alt="Profile Image" />
                              </span>
                <span>
                                  <span>John Smith</span>
                <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image">
                    <img src="/assets/images/img.jpg" alt="Profile Image" />
                </span>
                
                <span>
                  <span>John Smith</span>
                  <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                    Film festivals used to be do-or-die moments for movie makers. They were where...
                </span>
              </a>
            </li>
            <li>
              <div class="text-center">
                <a href="inbox.html">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
