<%= form_for (applicant), url: url, html:{class: 'form-horizontal form-label-left'} do |f| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :first_name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      First Name: <span class="required">*</span>
    <% end %>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :first_name, class: 'form-control col-md-7 col-xs-12', placeholder: "First Name", required: "required"%>
    </div>
  </div>

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Cancel", admin_applicants_path, class: 'btn btn-primary' %>
      <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
