<div class="page-title">
  <div class="title_left">
  <h2 id="notice"><%= notice %></h2>
    <h3>
        Applicants Total: <%= @applicants.length %>
<!--         <small> Active Promotions will be checked </small> -->
      </h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <%= link_to "Add new a Applicant", new_admin_applicant_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <!-- <li><a class="close-link"><i class="fa fa-close"></i></a></li> -->
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
          Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
        </p>
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Promotion</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% @applicants.each do |applicant| %>
            <tr>
              <td><%= applicant.full_name %></td>
              <td><%= applicant.email %></td>
              <td><%= applicant.full_address %></td>
              <td><%= applicant.phone_number %></td>
              <td><%= "ID: #{applicant.product.id} - #{applicant.product.title}"%></td>
              <td>
                <%= link_to 'Edit', edit_admin_applicant_path(applicant), class: 'btn btn-default '%>
                <%= link_to 'Destroy', admin_applicant_path(applicant, destroy: true), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
              </td>
                


              </td></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>





<% block do %>
<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= link_to 'Show', admin_blog_path(blog) %></td>
        <td><%= link_to 'Edit', edit_admin_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', admin_blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_admin_blog_path %>
<% end %>