<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow"/>


  <title> Admin </title>

  <!-- Bootstrap core CSS -->

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="/assets/css/custom.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/maps/jquery-jvectormap-2.0.3.css" />
  <link href="/assets/css/icheck/flat/green.css" rel="stylesheet" />
  <link href="/assets/css/floatexamples.css" rel="stylesheet" type="text/css" />

  <% if controller_name =~ /^(products|blogs|tournaments)$/ %>
    <link href="/assets/js/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
  <% end %>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/nprogress.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script>
  <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>


<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
        <%= render 'admin/shared/navbar' %>
        <%= render 'admin/shared/menu_profile' %>
        <br />
        <%= render 'admin/shared/sidebar' %>
        <%#= render 'admin/shared/side_footer' %>
        </div>
      </div>
      <%= render 'admin/shared/top_navigator' %>
      <div class="right_col" role="main">
        <div class="">
          <%= yield %>
        </div>
      </div>
      <%#= render 'admin/shared/footer' %>
    </div>
  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <% if controller_name =~ /^(home)$/ %>
    <%= render "admin/home/index_js" %>
  <% end %>

  <% if controller_name =~ /^(products|applicants|tournaments)$/ %>
    <%= render "admin/home/products_js" %>
  <% end %>
</body>

</html>
