<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
      <title> RB's Pizza in Bellevue </title>
      <meta name="description" content="WE ARE PROUD TO SERVE THE BEST PIZZAS, PASTAS, HOAGIES THAT PITTSBURGH, PA CAN OFFER. R&B's IS LOCATED AT BELLEVUE's MAIN ST.">
      <meta name="keywords" content="Pizza in Bellevue, Pizza in Pittsburgh PA, Pizza, Hoagie, Subway, Colzone, Salads, Free Delivery, 15202, 15212, 15214, 15229, 15237">
      <meta name="author" content="7urkm3n">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!--css-->    
      <link rel="stylesheet" href="/assets/css_rbs/reset.css" type="text/css" media="screen">    
      <link rel="stylesheet" href="/assets/css_rbs/style.css" type="text/css" media="screen">    
      <link rel="stylesheet" href="/assets/css_rbs/grid.css" type="text/css" media="screen">    
      <link rel="icon" href="images/favicon.ico" type="image/x-icon">    
      <link rel="shortcut icon" href="/assets/images_rbs/favicon.ico" type="image/x-icon">
      <link href="http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic" rel="stylesheet" type="text/css">    
      <link rel="stylesheet" href="/assets/css_rbs/flexslider.css" type="text/css" media="screen">    

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>

      <!--js-->
      <script type="text/javascript" src="/assets/js_rbs/jquery-1.7.1.min.js"></script>    
      <script type="text/javascript" src="/assets/js_rbs/superfish.js"></script>
      <script type="text/javascript" src="/assets/js_rbs/jquery.flexslider-min.js"></script>    
      <script>
            jQuery(window).load(function(){
                jQuery('.flexslider').flexslider({
                  animation: "fade", 
                  slideshow: true,
                  slideshowSpeed: 7000,
                  animationDuration: 600,
                  prevText: "",
                  nextText: "",
                  controlNav: false
                })
            });   
      </script>    
      <!--[if lt IE 8]>      
      <div style=' clear: both; text-align:center; position: relative;'>        
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
          <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
        <![endif]-->    

        <!--[if lt IE 9]> 
        <script src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400' rel='stylesheet' type='text/css'>  
        <![endif]-->  
  </head>  
  <body>
      <% flash.each do |k,v| %>
        <%= content_tag :div, v, class: "alert alert-#{k} text-center" %>
      <% end %>

	   <%= yield %>
  </body>
</html>
