<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Promotions - RBs Pizza</title>
    <link rel="canonical" href="rbspizza.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Pizza Promotion, Pizza in Bellevue, Avalon, hoagies, fast food, delivery pizza, food, drink." >
    <meta name="description" content="Best pizza in Bellevue Pittsburgh, PA. ">
    
    <meta property="og:title" content="RBs Pizza">
    <meta property="og:image" content="/assets/images_rbs/rblogo.png">
    <meta property="og:description" content="Pittsburgh Best Pizza">


    <link rel="shortcut icon" href="favicon.png"/>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap-grid-3.3.1.min.css"/>
    <link rel="stylesheet" href="/assets/client/main.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/client/alert-messenger.css">


    <!-- Bootstrap CDN CSS -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- Bootstrap CDN JS -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
  <body>
    <div class="wrapper">
        <div class="alert success" style='display: none; text-align: center;'>
          <span class="closebtn">&times;</span>
          <strong> Successfully </strong> Payback Accepted !.
        </div>

        <div class="alert warning" style='display: none; text-align: center;'>
          <span class="closebtn">&times;</span>
          <strong> Unfortunately </strong> Only two different Promotions available for each applicant!.
        </div>

    	<%= yield %>
    </div>
  </body>

    <!-- Alert Header -->
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
            }
        }
    </script>


    <!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="/assets/client/main.js"></script>
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</html>
